<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "flex-base">
        <div class = "rowContainer1">
          <div class = "leftColumn">
            <div>
              <img src = './images/help.png'></img>
            </div>
          </div>
          <div class = "logo">
            <div>
              <img src = './images/logo.png'></img>
            </div>
            
          </div>
          <div class = "rightColumn">
            <div>
              <img src = './images/play.png'></img>
            </div>
          </div>
        </div>
        <div class = "rowContainer2">
          Something here
        </div>
    </div>
  </body>
</html>
