<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "flex-base">
        <div class = "rowContainer1">
          <div class = "leftColumn">
            <div>
              <img src = './images/help.png'></img>
            </div>
          </div>
          <div class = "logo">
            <div>
              <img src = './images/logo.png'></img>
            </div>
            
          </div>
          <div class = "rightColumn">
            <div>
              <img src = './images/play.png'></img>
            </div>
          </div>
        </div>
        <div class = "rowContainer2">
          <div class ="avatarColumn">
            <div>
              <img src = './images/avatar.png'></img>
            </div>
            <div class = "statsBox">
              STATS
            </div>
            <div class = "myProjectsContainer">
              MY PROJECTS
            </div>
          </div>
          <div class = "centralColumn">

          </div>
          <div class = "challengeColumn">
            <div class = "postChallengeBox">
              <img src = './images/postChallenge.png'></img>
            </div>
            <div class = "dailyChallengeBox">
                TODAY'S CHALLENGE!
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
