body {
    
  background-color:rgb(249, 249, 250);
  font-family: 'Roboto', sans-serif;
  
  font: 16px; 
}

a {
  color: #00B7FF;
}

.flex-base {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* justify-content: center; 
  align-items: center;  */
  background-color:rgb(249, 249, 250);
}
.rowContainer1 {
  padding: 8px 8px;
  display: flex;
  flex-direction: row;  
  
}
.rowContainer2 {
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  /* background-color:rgb(73, 237, 243); */
}
.logo{
  justify-content: center; 
  align-items: center; 
  flex: 6; 
  display:flex;
  
}
.leftColumn{
  justify-content: center; 
  align-items: center; 
  flex: 3; 
  display:flex;  
  
}
.rightColumn{
  justify-content: center; 
  align-items: center; 
  flex: 3; 
  display:flex;  
}
.avatarColumn{
  padding: 8px 8px;
  /* justify-content: center;  */
  align-items: center;
  flex: 3; 
  display:flex; 
  flex-direction: column;
  /* background-color:rgb(209, 248, 103);  */
}
.challengeColumn{
  padding: 8px 8px;
  /* justify-content: center;  */
  align-items: center; 
  flex: 3; 
  display:flex;  
  flex-direction: column;
  /* background-color:rgb(209, 248, 103);  */
}
.centralColumn{
  padding: 8px 8px;
  justify-content: center; 
  /* align-items: center;  */
  flex: 6; 
  display:flex;
  flex-direction: column;
}
.centralColumnTopRow{
  /* border-radius: 5px;
  border: 2px solid #73AD21;  */
  /* padding: 8px 8px; */
  justify-content: center;  
  /* align-items: center; */
  min-height:120px;
  flex : 2;
  margin:4px;
}
.centralColumnLowerRow{
  border-radius: 25px;
  border: 2px solid #73AD21; 
  padding: 8px 8px;
  justify-content: center;  
  /* align-items: center; */
  margin:4px;
  flex : 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.statsBox{
  padding: 8px 8px;
  justify-content: center; 
  min-height:100px;
}
.myProjectsContainer{
  border-radius: 25px;
  border: 2px solid #73AD21; 
  padding: 8px 8px;
  justify-content: center; 
  min-height:250px;
  /* background-color:rgb(209, 248, 103);  */
}
.postChallengeBox{
  padding: 8px 8px;
  justify-content: center; 
  min-height:120px;
}
.dailyChallengeBox{
  border-radius: 25px;
  border: 2px solid #73AD21; 
  padding: 8px 8px;
  justify-content: center; 
  min-height:330px;
  /* background-color:rgb(209, 248, 103);  */
}
.columnContentImgTitle{
  padding: 8px 8px;
  justify-content: center; 
}
.projectCell{
  margin : 8px;
  padding: 4px 4px;
  justify-content: center; 
  border-radius: 15px;
  border: 2px solid #73AD21; 
  /* height:200px;
  min-width:200px; */
  display:flex;
  flex:1;
}