body {
    
  background-color:rgb(237, 237, 238);
  font-family: 'Roboto', sans-serif;
  
  font: 16px; 
}

a {
  color: #00B7FF;
}

.flex-base {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* justify-content: center; 
  align-items: center;  */
  background-color:rgb(237, 237, 238);
}
.rowContainer1 {
  padding: 8px 8px;
  display: flex;
  flex-direction: row;  
  
}
.rowContainer2 {
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  background-color:rgb(73, 237, 243);
}
.logo{
  justify-content: center; 
  align-items: center; 
  flex: 6; 
  display:flex;
  
}
.leftColumn{
  justify-content: center; 
  align-items: center; 
  flex: 3; 
  display:flex;  
  
}
.rightColumn{
  justify-content: center; 
  align-items: center; 
  flex: 3; 
  display:flex;  
}